
.pages{
    display: flex;
    align-items: center;
    justify-content: center;
}

.button{
    width: auto;
    margin:0px 5px;
}

.selected{
    background-color: orange;
    color:white;
    border:0px;
    width: auto;
    height: 25px;
}

